{{#with book}}
  {{view Ember.TextField valueBinding="name" placeholder="name"}}
  {{view Ember.TextField valueBinding="author"  placeholder="author"}}
  {{view Ember.TextField valueBinding="price"  placeholder="Price"}}
  {{view Ember.TextField valueBinding="book_ispn"  placeholder="Ispn no"}}
  <img height="50" width="50" {{bindAttr src="image"}} />
{{#view Ember.View contentBinding="App.Book"}}
    {{#view App.PreviewUploadImage name="logo_image" contentBinding="content"}}
    {{view fileField}}
    {{view previewImageView id="book_image" width="200" height="100" srcBinding="#{{content.image }}"}}
       
    {{/view}}
{{/view}}
  <button type="submit" class="btn-mini">
    {{#if id}}Update{{else}}Create{{/if}}
  </button>
{{/with}}
<a href="#" {{action "cancelForm"}} class="btn btn-mini" role="button" >Cancel</a>
