{{#with book}}
  {{view Ember.TextField valueBinding="name" placeholder="name"}}
  {{view Ember.TextField valueBinding="author"  placeholder="author"}}
  {{view Ember.TextField valueBinding="price"  placeholder="Price"}}
  {{view Ember.TextField valueBinding="book_ispn"  placeholder="Ispn no"}} 

  <button type="submit" class="btn-mini">
    {{#if id}}Update{{else}}Create{{/if}}
  </button>
{{/with}}
<a href="#" {{action "cancelForm"}} class="btn btn-mini" role="button" >Cancel</a>
